

<div ng-controller="battingController">
	<div class="row opponent">
		<div class="col-md-12">
			<h2>Batting Avg Per Innings</h2>
		</div>
		<div class="col-md-6" ng-click="showFirstInning()" ng-class="{highlight:firstInning}">
			<h2>first Inning</h2>
		</div>
		<div class="col-md-6" ng-click="showSecondInning()" ng-class="{highlight:!firstInning}">
			<h2>second Inning</h2>
		</div>
		
	</div>
	<div class="graph" ng-controller="battingController" ng-if="isVisited">
		<hi-column-chart data="firstInningRuns" fetched="isFetched" category="years"></hi-column-chart>
		 


	</div>
	
	<div ui-view="batting" ></div>
	
</div>