<div ng-controller="opponentController">
	<div class="row opponent">
		<div class="col-md-6" ng-click="showBattingStats()" ng-class="{highlight:highlightTab}" >
			<h2>Runs</h2>
		</div>
		<div class="col-md-6" ng-click="showBowlingStats()" ng-class="{highlight:!highlightTab}">
			<h2>wickets</h2>
		</div>
		
	</div>
	<div class="graph" ng-controller="opponentController" ng-if="isVisited">
		<hc-pie-chart title="runs Vs Opponents" data="opponentStats" fetched="isFetched" >Placeholder for pie chart</hc-pie-chart>
		 


	</div>
	
	<div ui-view="opponentBowlBat"  ></div>
	
</div>